/* D6 retro css for older themes */
#columns {padding:0 10px;}

@import url('http://fonts.googleapis.com/css?family=Arvo');

body {
	font: small/normal Verdana, Arial,Helvetica,sans-serif;
	color:#4F5047;
	background:#f1f1f1;
	}

/* TYPOGRAPHY*/
.biblio-title a, .biblio-title-chicago,
a, a:visited {
	color:#446677;
	text-decoration: none;
	}

a:hover {
	text-decoration: underline;
	color: #222;
	}

h2, h3, h4 {
	margin-bottom: 0;
	font-weight:normal;
	font-family:'Arvo', arial, serif;
	}

#content-column .node-type-link h3 {
  margin: 0;
  padding: 0;
  }

h1#page-title {
	margin-top: 0;
	color:#4F5047;
	font-size:1.5em;
	}

.links li {
	font-size: .8em;
	}

ol {
  padding-left: 1em;
  padding-right: 2em;
  }

ol li {
  margin-bottom: 1em;
  }

li.leaf {
  list-style-image: none;
  padding: 0;
  }

strong {
  font-size: .9em;
  }



.region-sidebar-second {
  background:#dce7ef;
  }

.region-sidebar-second h2.block-title,
.region-sidebar-first h2.block-title,
#header-container-right li {
	font-family:'Arvo', arial, serif;
	}

.region-sidebar-second h2.block-title,
.region-sidebar-first h2.block-title {
	font-weight:bold;
	padding-bottom:8px;
	font-size:1.3em;
	}

.region-sidebar-second li a, .region-sidebar-first li a {
	color:#446677;
	font-size:.9em;
	font-weight:normal;
	text-decoration:underline;
	}

.region-sidebar-second li a, .region-sidebar-first li a:visited{
	font-color:#da2b00!important;
	}

p.copy {
	margin-top: 0;
	}

/* LAYOUT ELEMENTS */

#page {
	-moz-box-shadow: 0 0 10px #555555;
	-webkit-box-shadow: 0 0 10px #555555;
	box-shadow: 0 0 10px #555555;
    background: #fff;
}

.lt-ie9 #page {border: 1px solid #DDD;}

#columns {
	overflow:hidden;
	padding: 0;
	}

#content-column, .region-sidebar-first, .region-sidebar-second {
margin-bottom: -2000px;
padding-bottom: 2000px;
}

.region-sidebar-first  {
border-right:1px dashed #ccc;
}

/* SIDEBAR ELEMENTS */

.sidebar {
	font-size: 1em;
	line-height: 1.2em;
	}

.sidebar a,
.sidebar a:visited {
	color: #DC6700;
	}

.sidebar a:hover,
.region-sidebar-second li a:hover {
	color:#222;
	}

/* HEADER ELEMENTS */

#header-container {
	/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(bottom, #DCD9DB 0%, #FFFFFF 100%);
/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(bottom, #DCD9DB 0%, #FFFFFF 100%);
/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #DCD9DB), color-stop(1, #FFFFFF));
/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(bottom, #DCD9DB 0%, #FFFFFF 100%);
/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to top, #DCD9DB 0%, #FFFFFF 100%);
	padding-top: 10px;
	margin: 0 auto;
	}

.lt-ie9 #header-container {
background:#EDEDED;
}

#header-container h1,
#header-container h2,
#header-container p {
	color:#3A6F8F;
	font-size:13px;
	font-weight:normal;
	line-height:18px;
	margin:0;
	}


#header-container h1 a, 
#header-container h1 a:visited {
	color:#446677;
	font-family:arial;
	font-size:2.4em;
	letter-spacing:-1.3px;
  }

#header-container h1 a:hover {
	color:#3A6F8F;
	text-decoration: none;
	}
	
/** MENU BAR **/	

#menu-bar {
	background: none repeat scroll 0 0 #DC6700;
	height:31px;
	padding:0;
	margin: 0 auto;
  }

#menu-bar li {
	float:left;
	}


#menu-bar li a,
#menu-bar li a:visited {
	color:#FFFFFF;
	display:block;
	font-size:11px;
	line-height:25px;
	padding:3px 22px;
	font-weight: bold;
  letter-spacing: 0.075em;
  margin: 0;
  padding: 2px 13px 4px 8px;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  background: #DC6700;
	}

#menu-bar li a:hover{
	background: #A8540B;
	text-decoration:none;
	color:#fff;
  }

#menu-bar li a.active,
#menu-bar li.active-trail a {
  background: #7a3d09;
  color: #fff;
  }
  
  
#menu-bar ul.nice-menu ul {
	top:2.3em;
	left:0;
	}  
  

.region-sidebar-first #block-os-primary-menu li a,
.region-sidebar-first #block-os-primary-menu li a:visited {
	color: #7e9f06;
	border: none;
	display:block;
	padding-bottom: 2px;
	padding-top: 2px;
	}

.sidebar #block-os-primary-menu li a:hover {
	color:#444;
	}


/* MAIN CONTENT AREA */

/* Nodes */



.submitted {
	color: #a1b1b1;
	border-bottom: 1px solid #a1b1b1;
	display:block;
	}

.hmpgblurbs td {
	border-bottom:1px dotted #CCCCCC;
	padding:10px 30px;
	vertical-align:top;
	}

#header-container-right ul.menu {
	font-size:12px;
  }

#header-container-right ul.menu a:hover{
  background-color:#9FB4C4;
	text-decoration:none;
	color:#fff;
	}
	
.region-sidebar-first .block, .region-sidebar-second .block{
	border-bottom:1px solid red;
	}

.region-sidebar-first .block, .region-sidebar-second .block {
	border-bottom:1px solid #DB6600;
	padding-bottom:5px;
	clear:both!important;
	padding:8px;
	}

#content-column h3 {
	border-top:1px solid #DB6600;
	padding-bottom:10px;
	padding-top:15px;
	color:#DB6600;
	}

#content-column h2 {
	color:#DB6600;
	font-size:20px;
	padding-bottom:10px;
	}

#content-column a:link, #content-column a:visited{
	text-decoration:underline !important;
	}

.views-field-field-gallery-image-fid img:hover {
	background-color: #cedfe7 !important;
	}

.views-field-field-gallery-image-fid img {
	background-color:#FFFFFF;
	border:1px solid #ADADAD !important;
	padding:4px;
	}

.view-scholar-image-gallery{
	display:inline !important;
	}

#content .node .view-scholar-image-gallery ul li,
.node-type-gallery #content .node .content ul li,
.block .view-scholar-image-gallery li.views-row {
	clear:none;
	float:left;
	list-style:none outside none;
	margin:0 5px 5px 0;
	padding:0;
	}

#block-boxes-image_gallery_recent_images{
	border-bottom:none !important;
	}

#header-container-right ul {
  margin-top:7px;
  }

#header-container-right li a,
#header-container-right li a:visited {
	padding: 3px 15px;
	font-size: 13px;
	line-height: normal;
	font-weight: normal;
	display:block;
	}

.views-row {
  margin-bottom:0.8em;
	}

blockquote{
	border-left:1px solid #ccc;
	padding-left:.9em;
	margin-left:.9em;
	}

p, .messages, #content-column .views-row, ul, ol, .taxonomy-term-description {
	margin: 0;
	}

#content-column ol li {
	list-style-position:inside;
	padding-left:15px;
	}

#content-column p, #content-column blockquote, #content-column ol, #content-column ul{
	margin-bottom:15px;
	}

#content-column hr {
	background-color:#CCCCCC!important;
	color:#CCCCCC!important;
	margin-bottom:20px;
	border:none !important;
	}

#columns .hg-container-inner{
	padding-bottom:50px;
	}

body.page-home #content-column h2.block-title{
	display:none !important;}


body.header-left-right #header-container-right {
  width:210px !important;
	}

#content-column h2.block-title {
	border-top:none;
  }
