@import url(https://fonts.googleapis.com/css?family=Lato);
body,
#page-title,
.node-title,
.page-search .title a,
#content-column .block.block-boxes-os_boxes_manual_list .links.inline a,
.more-link,
.links a,
#footer ul.menu a,
.boxes-box-content h2,
.section-nav a,
#content-column h2,
#content-column h3,
#content-column h4,
#tinymce h2,
#tinymce h3,
#tinymce h4,
.block-boxes-os_taxonomy_fbt.navigation,
#footer ul.menu li ul li a,
#layout_16_9_side .slide-copy h2,
#layout_3_1_overlay .slide-copy h2,
#layout_16_9_below .slide-copy h2,
#layout_16_9_overlay .slide-copy h2,
h2.block-title,
.region-header-third ul.nice-menu a,
#menu-bar ul.nice-menu a,
#boxes-box-site_info,
#boxes-box-site_info a {
    font-family: 'Lato', Georgia, serif !important;
}


/* Main wrappers */

html,
body {
    color: #333;
    font-size: .98em;
    background: #000;
}


/* Elements */

#columns a.node-readmore {
    border-bottom: none;
    font-weight: bold;
    padding-right: 11px;
    position: relative;
    z-index: 9;
    text-decoration: none;
    font-size: .78em;
}

#columns a.node-readmore:after {
    background: url("../../hwpi_basetheme/images/hwpi_basesprite.png") no-repeat 3px -572px;
    padding-right: 11px;
    content: '';
}

a.os-swipe-small {
    color: #FFF !important;
    text-decoration: none !important;
    display: inline-block;
    text-align: center;
    border: 1px solid #FFF;
    padding: 5px 10px;
    font-weight: normal;
    background-color: #293352;
}

a.os-swipe-large {
    color: #FFF !important;
    text-decoration: none !important;
    display: inline-block;
    text-align: center;
    border: 1px solid #FFF;
    padding: 10px 20px;
    font-weight: normal;
    background-color: #293352;
}

a.os-swipe-large:hover,
a.os-swipe-small:hover {
    border: 1px solid #293352;
    color: #222 !important;
    background-color: #FFF;
}


/* Header */

#boxes-box-site_info h2 {
    font-size: 1.3em;
    font-style: normal;
}

#header,
#boxes-box-site_info a {
    color: #333;
}


/* Menu bar */

#menu-bar {
    background: #787878;
    padding: 0;
}

#menu-bar.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    -moz-opacity: 0.92;
    -khtml-opacity: 0.92;
    opacity: 0.92;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha"(Opacity=92);
}

#menu-bar ul.nice-menu li {
    margin-right: 0;
}

#menu-bar ul.nice-menu a {
    color: #FFF;
    padding: 16px 15px;
    text-transform: uppercase;
}

#menu-bar ul.nice-menu ul a {
    padding: 10px 15px;
}

#menu-bar ul.nice-menu a.active,
#menu-bar ul.nice-menu a:hover {
    color: #FFF;
}

#menu-bar ul.nice-menu .menuparent a:before {
    background-position: 0 -566px;
    /* White Arrow */
}

#menu-bar ul.nice-menu a.active,
#menu-bar ul.nice-menu a:hover,
#menu-bar ul.nice-menu .menuparent.over > a,
#menu-bar ul.nice-menu .menuparent a:hover,
#menu-bar ul.nice-menu .menuparent a.active {
    background-color: #4a4a4a;
}

#menu-bar ul.nice-menu .menuparent ul li a,
#menu-bar ul.nice-menu .menuparent ul li a.active {
    color: #FFF;
    font-size: 13px;
    font-weight: bold;
    padding-right: 8px;
}

#menu-bar ul.nice-menu .menuparent ul li a:hover {
    color: #BAC5C6;
    padding-right: 8px;
}

#menu-bar ul.nice-menu ul .menuparent.over > a,
#menu-bar ul.nice-menu ul .menuparent a:hover,
#menu-bar ul.nice-menu ul .menuparent a.active {
    color: #BAC5C6;
}

#menu-bar ul.nice-menu ul {
    background: #4a4a4a;
}

.region-header-third ul.nice-menu a {
    color: #333;
}

#footer ul.menu li.menuparent {
    font-size: 12px;
    font-weight: bold;
}

ul.nice-menu-down li ul li ul {
    left: 12em;
}

#columns .accordion ul.nice-menu li a,
#columns .sidebar .os-custom-menu ul.nice-menu li a,
#columns .sidebar #block-os-primary-menu ul.nice-menu li a,
#columns .sidebar #block-os-secondary-menu ul.nice-menu li a,
#columns .sidebar .os-custom-menu ul.menu li a,
#columns .sidebar #block-os-primary-menu ul.menu li a,
#columns .sidebar #block-os-secondary-menu ul.menu li a {
    font-size: inherit;
}


/* HOMEPAGE SPECIFIC STYLES */

#header,
.front #content-panels .region-content-first,
.front #content-panels .region-content-bottom {
    background: #F5F5F5;
}

.front .block h2.block-title {
    text-align: center;
}

.front #columns .region-content-top .region-inner,
.front #content-panels {
    margin-bottom: 0;
}

.front .block-boxes-os_boxes_media img {
    margin: -15px 0 -20px 0;
}

.front .node-teaser.node-person {
    padding: 0 0 30px;
}


/* Titles & Type */

.page-search .title a,
.boxes-box-content h2 {
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 18px;
}

.page-search .title a {
    font-size: 15px;
    font-weight: bold;
}

.boxes-box-content h2 {
    font-size: 24px;
    line-height: 28px;
}

h1#page-title {
    font-size: 25px;
    margin: 0 0 2%;
}

.node-type-page h1#page-title {
    margin: 1% 0 2%;
}

h2.block-title {
    padding: 20px 0 25px;
    font-size: 1.3em;
    font-weight: bold;
}

.block-boxes-os_boxes_columns h2.block-title {
    padding: 7px 0;
}

#content-column .block.block-boxes-os_boxes_manual_list .links.inline a,
.more-link {
    font-size: 12px;
    font-weight: bold;
}


/* Search */

#search-block-form input.form-submit,
#search-block-form #edit-submit,
#search-form #edit-submit {
    background: url('/profiles/openscholar/themes/hwpi_basetheme/images/hwpi_basesprite.png') no-repeat 2px -441px #c7c7c7;
    height: 34px;
}


/* Border control */

.not-front.two-sidebars #content-column .content-inner {
    border-right: 1px solid #e7e7e7;
}

.content-left.content-right .region-content-first .region-inner,
.content-left.content-bottom .region-content-first .region-inner,
.content-right.content-bottom .region-content-second .region-inner,
.content-left.content-right.content-bottom .region-content-second .region-inner,
.two-sidebars #content-panels,
.one-sidebar.sidebar-second #content-panels {
    border-right: none;
}

.front #content-column .block.block-boxes-os_boxes_columns,
.block-boxes.block-boxes-os_sv_list_box .block-inner,
.block-boxes-os_boxes_manual_list,
.sidebar .block.section-nav,
#content-column .block.section-nav,
.front #content-column .block.block-boxes-os_slideshow_box,
.page-node.node-type-person .node-person .block-inner {
    border-top: none;
}


/* Blocks */

#content-panels .block {
    margin-bottom: 15px;
}


/* Spotlight */

#content-column .block.block-boxes-os_boxes_manual_list {
    background: none;
    border: none;
    padding: 0;
}

#content-column .block.block-boxes-os_boxes_manual_list h2.block-title {
    border-bottom: none;
    margin-bottom: 0;
}

#content-column .block.block-boxes-os_boxes_manual_list h1.node-title a {
    font-weight: bold;
    font-size: 22px;
}


/* Calander */

.date-nav h3 a {
    color: #1E1E1E;
}

.event-start .event-start {
    width: 55px;
    height: 55px;
    background: #FFF;
    border: 1px solid #D4D2D2;
    border-top: 3px solid #215990;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.event-start .event-start span {
    font-weight: normal;
}

.event-start-month {
    color: #000;
    padding: 12px 0 0;
}


/* Tabs (widget) */

.ui-tabs .ui-tabs-nav li a {
    text-transform: capitalize;
    font-size: 14px;
}

.ui-tabs ul.ui-tabs-nav li.ui-tabs-active {
    border-top: 3px solid #215990;
}

.ui-tabs ul.ui-tabs-nav li.ui-tabs-active a {
    border-bottom-width: 1px;
    color: #1e1e1e;
}

.ui-tabs ul.ui-tabs-nav li {
    background: #EAEAE6;
}

.block-boxes-os_boxes_tabs .links li a {
    background-image: none !important;
}

.ui-tabs .ui-tabs-panel {
    background-color: #FFF;
}


/* Section nav */

#boxes-box-os_pages_section_nav,
.section-nav ul.menu li a {
    border-color: #D7D7D7;
    border-right: none;
    border-left: none;
}

.section-nav .menu-depth-1 > a {
    background-color: #D7D7D7 !important;
    color: #333 !important;
    border-bottom: 1px solid #999 !important;
}

.section-nav .expanded.menu-depth-2 > a {
    background-color: #FFF;
    color: inherit;
}

.section-nav .expanded.menu-depth-2 > a:hover {
    background-color: #ededed !important;
}

.section-nav .expanded.menu-depth-2 .menu-depth-3 > a,
.section-nav .expanded.menu-depth-2 .menu-depth-4 > a,
.section-nav .expanded.menu-depth-2 .menu-depth-5 > a,
.section-nav .expanded.menu-depth-2 .menu-depth-6 > a,
.section-nav .leaf.menu-depth-3 > a,
.section-nav .leaf.menu-depth-4 > a,
.section-nav .leaf.menu-depth-5 > a,
.section-nav .leaf.menu-depth-6 > a {
    background-color: #FFF !important;
}

.section-nav .expanded.menu-depth-2 .menu-depth-3 > a:hover,
.section-nav .expanded.menu-depth-2 .menu-depth-4 > a:hover,
.section-nav .expanded.menu-depth-2 .menu-depth-5 > a:hover,
.section-nav .expanded.menu-depth-2 .menu-depth-6 > a:hover,
.section-nav .leaf.menu-depth-3 > a:hover,
.section-nav .leaf.menu-depth-4 > a:hover,
.section-nav .leaf.menu-depth-5 > a:hover,
.section-nav .leaf.menu-depth-6 > a:hover {
    background-color: #e3e3e1 !important;
}

.block-boxes-os_taxonomy_fbt.navigation a {
    font-weight: bold;
}

.block-boxes-os_taxonomy_fbt.navigation ul {
    border-bottom: 1px solid #959595;
    border-left: 1px solid #959595;
    border-right: 1px solid #959595;
}

.block-boxes-os_taxonomy_fbt.navigation ul li {
    border-top: 1px solid #959595;
}


/* Footer */

#footer {
    background-color: #787878;
    color: #FFF;
}

#footer ul.menu a {
    text-transform: none;
    font-size: 16px;
    color: #FFF;
}

#footer ul.menu li a {
    text-transform: uppercase;
    font-size: 12px;
}

#footer ul.menu li a.menu-heading {
    font-size: .9em;
}

.page-news .view .node-teaser {
    padding: 10px 0 30px;
}


/** SLIDESHOW **/

#content-panels .block-boxes-os_slideshow_box .block-inner {
    margin-top: 0;
}

a.rslides_nav {
    background-color: #787878;
}

.slide-copy h2 a {
    font-weight: bold;
}

.slide-copy h2 a {
    font-weight: normal;
}

.front #content-panels .region-content-top .block.block-boxes-os_slideshow_box {
    margin-bottom: 0;
}

.rslides_tabs li {
    background: #CCC !important;
}

.front #layout_3_1_overlay .slide {
    position: relative;
}

.front #layout_3_1_overlay .slide-copy,
.front #layout_3_1_overlay .rslides_tabs {
    position: absolute;
    top: 95%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    bottom: inherit;
    right: inherit;
}

.block-boxes-os_slideshow_box .slide-copy,
.block-boxes-os_slideshow_box .rslides_tabs {
    z-index: 2 !important;
}

.front #layout_3_1_overlay .slide-copy {
    width: 48%;
    margin: 10% 0 0 0;
    text-align: center;
}


/** PEOPLE DETAIL PAGE **/

.node-type-person .node-person .field-name-field-professional-title {
    margin-top: 0;
}

#powered-by a {
    background-position: -14px -548px;
}