/* Layout CSS */

.front .block-boxes-os_boxes_tabs,
.front .block-boxes-os_sv_list_box,
.front .block.block-boxes-os_boxes_columns,
.front .block.block-boxes-os_slideshow_box,
.front #columns,
.front .block-boxes-os_boxes_html,
.front .block.block-boxes-os_slideshow_box #layout_3_1_overlay,
.front .block.block-boxes-os_slideshow_box #layout_16_9_side,
.front .block.block-boxes-os_slideshow_box #layout_16_9_overlay,
.front .block.block-boxes-os_slideshow_box #layout_16_9_below,
.front .block-boxes-os_boxes_media img {
    margin-left: auto;
    margin-right: auto;
}
.front .block-boxes-os_boxes_tabs,
.front .block-boxes-os_sv_list_box,
.front .block.block-boxes-os_boxes_columns,
.front .block.block-boxes-os_slideshow_box #layout_16_9_side,
.front .block.block-boxes-os_slideshow_box #layout_16_9_overlay,
.front .block.block-boxes-os_slideshow_box #layout_16_9_below {
    width: 980px;
}
.front #columns,
.front .content-left.content-bottom #content-panels .region-content-first,
.front .content-left.content-bottom #content-panels .region-content-bottom,
.front .content-left.content-right #content-panels .region-content-first,
.front .content-left.content-right #content-panels .region-content-second,
.front .content-right.content-bottom #content-panels .region-content-second,
.front .content-right.content-bottom #content-panels .region-content-bottom,
.front .content-left.content-right.content-bottom #content-panels .region-content-first,
.front .content-left.content-right.content-bottom #content-panels .region-content-second,
.front .content-left.content-right.content-bottom #content-panels .region-content-bottom,
.front .block.block-boxes-os_slideshow_box #layout_3_1_overlay img,
.front .block-boxes-os_boxes_columns .block-boxes-os_boxes_html,
.front .block-boxes-os_boxes_tabs .block-boxes-os_boxes_html,
.front .block-boxes-os_boxes_accordion .block-boxes-os_boxes_html,
.front #columns .block-boxes-os_boxes_media img {
    width: 100%;
}
.front .block.block-boxes-os_slideshow_box #layout_3_1_overlay,
.front .block.block-boxes-os_slideshow_box #layout_3_1_overlay img {
    max-width: 1520px;
}
.front .block-boxes-os_boxes_html {
    width: 85%;
}
.front .block-boxes-os_boxes_accordion .block-boxes-os_boxes_html,
.front .block-boxes-os_boxes_tabs .block-boxes-os_boxes_html,
.front .block-boxes-os_boxes_columns .block-boxes-os_boxes_html {
    margin-left: 0;
    margin-right: 0;
    font-size: 1em;
    line-height: 1.5;
}
.front .content-left.content-right.content-bottom .region-content-first .region-inner,
.front .content-left.content-right.content-bottom .region-content-second .region-inner,
.front .content-left.content-right .region-content-first .region-inner,
.front .content-left.content-bottom .region-content-first .region-inner,
.front .content-right.content-bottom .region-content-second .region-inner {
    padding-right: 0;
}
.front .content-left.content-right.content-bottom .region-content-bottom .region-inner,
.front .content-left.content-right.content-bottom .region-content-second .region-inner,
.front .content-left.content-right .region-content-second .region-inner,
.front .content-left.content-bottom .region-content-bottom .region-inner,
.front .content-right.content-bottom .region-content-bottom .region-inner {
    padding-left: 0;
}
.front #columns {
    margin-top: 0;
    margin-bottom: 0;
}
.front #content-panels.at-panel .region .region-inner[style] {
    min-height: auto !important;
}
/* LOPs in the frontpage - not in a columns widget */

.front .block-boxes-os_sv_list_box .node {
    display: inline-block;
    margin-right: 3%;
    vertical-align: top;
}
.front .block-boxes-os_sv_list_box.lopz-6 .node:nth-child(3),
.front .block-boxes-os_sv_list_box.lopz-4 .node:nth-child(even),
.front .block-boxes-os_sv_list_box .node:last-of-type {
    margin-right: 0;
}
.front .block-boxes-os_sv_list_box.lopz-4 .node,
.front .block-boxes-os_sv_list_box.lopz-2 .node {
    width: 48%;
}
.front .block-boxes-os_sv_list_box.lopz-6 .node,
.front .block-boxes-os_sv_list_box.lopz-3 .node {
    width: 31%;
}
/* LOPs in the frontpage -  columns widget */

.front .block-boxes-os_boxes_columns .block-boxes-os_sv_list_box .node {
    display: block;
}
.front .block-boxes-os_boxes_columns .block-boxes-os_sv_list_box .node,
.front .block-boxes-os_boxes_columns .block-boxes-os_sv_list_box.lopz-6 .node:nth-child(3),
.front .block-boxes-os_boxes_columns .block-boxes-os_sv_list_box.lopz-4 .node:nth-child(even),
.front .block-boxes-os_boxes_columns .block-boxes-os_sv_list_box .node:last-of-type {
    margin-right: 0;
}
.front .block-boxes-os_boxes_columns .block-boxes-os_sv_list_box,
.front .block-boxes-os_boxes_columns .block-boxes-os_sv_list_box .node {
    width: 100%;
}
