@media (max-width: 1008px) {
  .region-header-third #block-os-secondary-menu.opened,
  .region-header-third .os-custom-menu.opened {
    background-color: #f3f3f1;
  }
  .region-header-third ul.nice-menu a {
    color: #222 !important;
  }
  .region-header-third .os-custom-menu li,
  .region-header-third #block-os-secondary-menu li {
    border-top: 1px solid #f4f4f4 !important;
  }
  .region-header-third #block-os-secondary-menu.opened,
  .region-header-third .os-custom-menu.opened {
    background-color: #f3f3f1 !important;
  }
  #header {
    border-bottom: none;
  }
  #menu-bar {
    padding: 0 15px !important;
    background: #F9F9F9;
    border-bottom: none;
  }
  #menu-bar ul.nice-menu li {
    background-color: #f3f3f1 !important;
    color: #FFF !important;
  }
  #menu-bar #block-os-primary-menu a {
    color: #222 !important;
  }
  #menu-bar #block-os-primary-menu li {
    border-bottom: 1px solid #f4f4f4!important;
    border-top: none!important;
  }
  .link-count-mobi-util a {
    background-position: -52px -530px;
    background-color: #f3f3f1;
  }
  .link-count-mobi-main a {
    background-color: #f3f3f1;
    background-position: 0 -520px;
  }
  .link-count-mobi-search a {
    background-color: #f3f3f1;
  }
  .mobi-util a {
    background: #F7F7F7;
  }
  .mobile-buttons a {
    color: #000!important;
  }
}